$button-color: #3570f9;
$white: #fff;
$btn-hover: rgb(3,29,73);
$card-background: #f4f4f4;
$card-text-color: #727272 ;
$card-header-small-color: #FF5252;
$card-footer-border-color: #B6B6B6;
$red: #e50404;
$black: #000;
$white: #fff;
