$red: #e50404;
$black: #000;
$white: #fff;

@keyframes showNav {
  0% { width: 10px ;}
  20% { width: 50px ;}
  40% { width: 100px ;}
  60% { width: 190px; }
  80% { width: 220px; }
  100% { width: 300px; }
}

#navigation {
  &.hide {
    display: none;
    margin-left: -300px;
  }
  position: fixed;
  display: block;
  animation: showNav 250ms ease-in-out both;
  top: 0;
  left: 0;
  background: $black;
  opacity: 1;
  width: 300px;
  heigth: 100%;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  ul {
    position:relative;
    list-style: none;
    display: inline;
    top: 100px;
    margin: 0 auto;
    li {
      color: $white;
      text-align: center;
      transition: all 700ms ease-in-out;
      padding: 10px;
      &:hover {
        background:$white;
        transform: background $white;
      }
      a {
        color: $white;
        font-size: 34px;
        text-decoration: none;
        &:hover {
          color: $red;
        }
      }
    }
  }
}
.menu {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    background-color: transparent;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background: transpanent;
    outline:none;
    background-repeat:no-repeat;
    transition: background 0.3s;
  z-index: 2;
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      top: 44px;
      left: 18px;
      right: 18px;
      height: 8px;
      background: $white;
      &::after,  &::before {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: $white;
        content: "";
      }
      &::after {
         bottom: -20px;
      }
      &::before {
         top: -20px;
      }
    }
    &.menu-hamburger-red {
      span {
        transition: transform 0.3s;
        &::before {
          transform-origin: top left;
          transition: transform 0.3s, width 0.3s, top 0.3s;
        }
        &::after {
           transform-origin: bottom left;
           transition: transform 0.3s, width 0.3s, bottom 0.3s;
        }
      }

      &.is-active {
        span {
          transform: rotate(180deg);
          &::before, &::after {
             width: 50%;
          }
          &::before {
            top: 0;
            transform: translateX(-8px) translateY(4px) rotate(-45deg);
          }
          &::after {
              bottom: 0;
              transform: translateX(-8px) translateY(-4px) rotate(45deg);
          }
        }
      }
    }
}
